[Desktop Entry]
Categories=Audio;X-Jack;Midi;X-MIDI;
Comment[en_US]=Free vintage tonewheel organ emulation
Comment=Free vintage tonewheel organ emulation
Exec=$HOME/.sampleson/CollaB3
GenericName[en_US]=
GenericName=
Icon=CollaB3.png
Keywords=Audio;Sound;Organ;Midi;Jack;
MimeType=
Name[en_US]=CollaB3
Name=CollaB3
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
